html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #1c1c1c;
}

.hero {
    background: url(images/banner.png) no-repeat center center;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    height: 50vh;
    max-height: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    box-sizing: border-box;
}

.hero-tag {
    font-weight: 800;
    font-size: 2.625rem;
    letter-spacing: -4.5%;
}

.hero a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 0.875rem;
}

main,
.hero {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 45px;
    box-sizing: border-box;
    background-color: #121212da;
}
main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 300px);
    background-color: #121212;
}

.search-container {
    position: relative;
}
.search {
    position: absolute;
    top: -17px;
    left: 0;
    right: 0;
    width: 90%;
    max-width: 630px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.search-icon {
    font-size: 1rem;
    color: #9ca3af;
    background-color: #1c1c1c;
    padding: 10px;
    border: 1px solid #1c1c1c;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

input {
    background-color: #1c1c1c;
    border: none;
    padding: 10px;
    font-size: 1rem;
    color: #9ca3af;
    font-family: inherit;
    font-weight: 500;
    font-size: 0.9rem;
    width: 70%;
}
input:focus {
    outline: none;
}

.search-btn {
    background-color: #4b4b4b;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    font-size: 0.9rem;
    width: 25%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

.search-btn:hover,
.search-btn:focus {
    background-color: #787878;
}

.empty-explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
}

.film-icon {
    font-size: 5rem;
    color: #2e2e2f;
}
.explore {
    font-weight: 700;
    font-size: 1.125rem;
    color: #2e2e2f;
}

.film-card:first-of-type {
    padding-top: 40px;
}

.film-card {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #2c2c2c;
    color: #ffffff;
    gap: 20px;
}

.film-card-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.film-card-duration-genre {
    display: flex;
    align-items: center;
}

img {
    width: 16vw;
    max-width: 200px;
    height: calc(16vw * 3 / 2);
    max-height: calc(200px * 3 / 2);
}

.title {
    font-weight: 500;
    font-size: 1.25rem;
}
.star {
    color: #fec654;
}
.film-card-duration-genre {
    font-weight: 400;
    font-size: 0.9rem;
    gap: 15px;
}

.add-to-watchlist {
    font-family: inherit;
    background-color: #121212;
    border: none;
    color: white;
    font-size: large;
    cursor: pointer;
}
.plus {
    font-size: 1.2rem;
    align-self: center;
}

.add-to-watchlist:hover,
.add-to-watchlist:focus {
    background-color: #313131;
    padding: 5px;
    border-radius: 5px;
}
.add-to-watchlist:disabled {
    color:  #228a03;
}

.add-to-watchlist:hover .plus,
.add-to-watchlist:focus .plus {
    color: #228a03;
}

.description {
    font-weight: 400;
    font-size: 0.9rem;
    color: #a5a5a5;
    padding-right: 25px;
}
