html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #1c1c1c;
}

.hero {
    background: url(images/banner.png) no-repeat center center;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    height: 50vh;
    max-height: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    box-sizing: border-box;
}

.hero-tag {
    font-weight: 800;
    font-size: 2.625rem;
    letter-spacing: -4.5%;
}

.hero a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 0.875rem;
}

main,
.hero {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 45px;
    box-sizing: border-box;
    background-color: #121212da;
}
main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 300px);
    background-color: #121212;
}

.empty-watchlist {
    font-weight: 700;
    font-size: 1.125rem;
    color: #787878;
    margin-top: 100px;
}

.back-to-search {
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-weight: 700;
    font-size: 1.5rem;
}

.film-card:first-of-type {
    margin-top: 30px;
}
.film-card {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #2c2c2c;
    color: #ffffff;
    gap: 20px;
}

.film-card-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.film-card-duration-genre {
    display: flex;
    align-items: center;
}

img {
    width: 16vw;
    max-width: 150px;
    height: calc(16vw * 3 / 2);
    max-height: calc(150px * 3 / 2);
}

.title {
    font-weight: 500;
    font-size: 1.25rem;
}
.star {
    color: #fec654;
}
.film-card-duration-genre {
    font-weight: 400;
    font-size: 0.9rem;
    gap: 15px;
}

.add-to-watchlist {
    font-family: inherit;
    background-color: #121212;
    border: none;
    color: white;
    font-size: large;
    cursor: pointer;
}
.minus {
    font-size: 1.2rem;
    align-self: center;
}

.add-to-watchlist:hover,
.add-to-watchlist:focus {
    background-color: #313131;
    padding: 5px;
    border-radius: 5px;
}

.add-to-watchlist:hover .minus,
.add-to-watchlist:focus .minus {
    color: #8a0303;
}

.description {
    font-weight: 400;
    font-size: 0.9rem;
    color: #a5a5a5;
    padding-right: 25px;
}
